#sidebar {
  position: fixed;
  left: 10px;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#sidebar > a {
  padding: 10px 40px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
}

