<div id='navbar'>
  <div id="li-left">
    <%= link_to "Home", root_path, title: "Home" %>
  </div>

  <div id="li-right">
    <% if user_signed_in? %>
      <div id="friend-requests-container">
        <button class="link" id="notify-msg"><i class="icon-envelope"></i></button>
        <div id="friend-requests">
          Vinh send you a friend request
        </div>
      </div>
      <%= link_to destroy_user_session_path, method: :delete, title: "Log Out" do %>
        <i class="icon-off"></i>
      <% end %>
    <% end %>
  </div>
</div>
