<div id='navbar'>
  <div id="li-left">
    <%= link_to "Home", root_path, title: "Home" %>
  </div>
  <div id="li-right">
      <div id="msg-container">
        <button class="link" id="notify-msg-btn"><i class="icon-envelope"></i></button>
        <div id="dropdown-msgs">
          Vinh send you a friend request
        </div>
      </div>
      <%= link_to destroy_user_session_path, method: :delete, title: "Log Out" do %>
        <i class="icon-off"></i>
      <% end %>
  </div>
</div>

